/*
 * Rusl CLI API
 *
 * API for the Rusl CLI
 *
 * The version of the OpenAPI document: 0.1.0
 *
 * Generated by: https://openapi-generator.tech
 */

use super::{configuration, ContentType, Error};
use crate::{apis::ResponseContent, models};
use reqwest;
use serde::{de::Error as _, Deserialize, Serialize};

/// struct for typed errors of method [`rusl_web_raw_schema_controller_show`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum RuslWebRawSchemaControllerShowError {
    Status401(models::Error1),
    Status403(models::Error1),
    Status404(models::Error1),
    Status500(models::Error1),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`rusl_web_raw_schema_controller_show_0`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum RuslWebRawSchemaControllerShow0Error {
    Status401(models::Error1),
    Status403(models::Error1),
    Status404(models::Error1),
    Status500(models::Error1),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`rusl_web_raw_schema_metadata_controller_show`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum RuslWebRawSchemaMetadataControllerShowError {
    Status401(models::Error1),
    Status403(models::Error1),
    Status404(models::Error1),
    Status500(models::Error1),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`rusl_web_raw_schema_metadata_controller_show_0`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum RuslWebRawSchemaMetadataControllerShow0Error {
    Status401(models::Error1),
    Status403(models::Error1),
    Status404(models::Error1),
    Status500(models::Error1),
    UnknownValue(serde_json::Value),
}

/// Serves the raw JSON schema content at the schema's canonical `/resources/{account_slug}/schemas/{schema_slug}` URL. Supports versioned access via `@v0.2.3` suffix for pinned, immutable content.  Caching behavior (via `RuslWeb.RawCacheHeaders`): - Public schemas: CDN-cacheable. Pinned versions (`@vX.Y.Z`) return `public, max-age=31536000, immutable` + ETag.   Clients and CDNs can use `If-None-Match` to receive 304 Not Modified responses. - Latest (no version suffix): shorter TTL (configurable via `Rusl.Caching.latest_max_age`). - Private schemas: always `private, no-store`. Never cached by CDNs or shared caches. - All public responses include `cache-tag` headers so the CDN can be purged on publish or status changes.  Private data is never cacheable — membership is re-checked on every request.
pub async fn rusl_web_raw_schema_controller_show(
    configuration: &configuration::Configuration,
    account_slug: &str,
    schema_slug_and_version: &str,
    disposition: Option<&str>,
) -> Result<serde_json::Value, Error<RuslWebRawSchemaControllerShowError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_account_slug = account_slug;
    let p_path_schema_slug_and_version = schema_slug_and_version;
    let p_query_disposition = disposition;

    let uri_str = format!(
        "{}/resources/{account_slug}/schemas/{schema_slug_and_version}",
        configuration.base_path,
        account_slug = crate::apis::urlencode(p_path_account_slug),
        schema_slug_and_version = crate::apis::urlencode(p_path_schema_slug_and_version)
    );
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref param_value) = p_query_disposition {
        req_builder = req_builder.query(&[("disposition", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref token) = configuration.bearer_access_token {
        req_builder = req_builder.bearer_auth(token.to_owned());
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `serde_json::Value`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `serde_json::Value`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<RuslWebRawSchemaControllerShowError> =
            serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Serves the raw JSON schema content at the schema's canonical `/resources/{account_slug}/schemas/{schema_slug}` URL. Supports versioned access via `@v0.2.3` suffix for pinned, immutable content.  Caching behavior (via `RuslWeb.RawCacheHeaders`): - Public schemas: CDN-cacheable. Pinned versions (`@vX.Y.Z`) return `public, max-age=31536000, immutable` + ETag.   Clients and CDNs can use `If-None-Match` to receive 304 Not Modified responses. - Latest (no version suffix): shorter TTL (configurable via `Rusl.Caching.latest_max_age`). - Private schemas: always `private, no-store`. Never cached by CDNs or shared caches. - All public responses include `cache-tag` headers so the CDN can be purged on publish or status changes.  Private data is never cacheable — membership is re-checked on every request.
pub async fn rusl_web_raw_schema_controller_show_0(
    configuration: &configuration::Configuration,
    account_slug: &str,
    schema_slug_and_version: &str,
    disposition: Option<&str>,
) -> Result<serde_json::Value, Error<RuslWebRawSchemaControllerShow0Error>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_account_slug = account_slug;
    let p_path_schema_slug_and_version = schema_slug_and_version;
    let p_query_disposition = disposition;

    let uri_str = format!(
        "{}/resources/{account_slug}/schemas/{schema_slug_and_version}",
        configuration.base_path,
        account_slug = crate::apis::urlencode(p_path_account_slug),
        schema_slug_and_version = crate::apis::urlencode(p_path_schema_slug_and_version)
    );
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref param_value) = p_query_disposition {
        req_builder = req_builder.query(&[("disposition", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref token) = configuration.bearer_access_token {
        req_builder = req_builder.bearer_auth(token.to_owned());
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `serde_json::Value`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `serde_json::Value`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<RuslWebRawSchemaControllerShow0Error> =
            serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Returns every resolvable version of a schema and its dependency constraints in a single payload, enabling the PubGrub resolver to evaluate the full dependency graph without additional network round-trips.  Canonical metadata lives under `/resources/{account_slug}/schemas/{schema_slug}/metadata`.  Caching behavior (via `RuslWeb.RawCacheHeaders` + `Rusl.Caching`): - Public metadata: cacheable with a configurable TTL (`Rusl.Caching.metadata_max_age`).   Kept fresh via event-driven CDN purges on version publish or status changes (uses `cache-tag`). - Private metadata: always `private, no-store`. Never cached. - Version suffixes (`@vX.Y.Z`) are ignored for lookup and caching — the response reflects the current resolvable set.  Private data is never cacheable — membership is re-checked on every request.
pub async fn rusl_web_raw_schema_metadata_controller_show(
    configuration: &configuration::Configuration,
    account_slug: &str,
    schema_slug: &str,
) -> Result<
    models::RuslWebRawSchemaMetadataControllerShow200Response,
    Error<RuslWebRawSchemaMetadataControllerShowError>,
> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_account_slug = account_slug;
    let p_path_schema_slug = schema_slug;

    let uri_str = format!(
        "{}/resources/{account_slug}/schemas/{schema_slug}/metadata",
        configuration.base_path,
        account_slug = crate::apis::urlencode(p_path_account_slug),
        schema_slug = crate::apis::urlencode(p_path_schema_slug)
    );
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref token) = configuration.bearer_access_token {
        req_builder = req_builder.bearer_auth(token.to_owned());
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::RuslWebRawSchemaMetadataControllerShow200Response`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::RuslWebRawSchemaMetadataControllerShow200Response`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<RuslWebRawSchemaMetadataControllerShowError> =
            serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Returns every resolvable version of a schema and its dependency constraints in a single payload, enabling the PubGrub resolver to evaluate the full dependency graph without additional network round-trips.  Canonical metadata lives under `/resources/{account_slug}/schemas/{schema_slug}/metadata`.  Caching behavior (via `RuslWeb.RawCacheHeaders` + `Rusl.Caching`): - Public metadata: cacheable with a configurable TTL (`Rusl.Caching.metadata_max_age`).   Kept fresh via event-driven CDN purges on version publish or status changes (uses `cache-tag`). - Private metadata: always `private, no-store`. Never cached. - Version suffixes (`@vX.Y.Z`) are ignored for lookup and caching — the response reflects the current resolvable set.  Private data is never cacheable — membership is re-checked on every request.
pub async fn rusl_web_raw_schema_metadata_controller_show_0(
    configuration: &configuration::Configuration,
    account_slug: &str,
    schema_slug: &str,
) -> Result<
    models::RuslWebRawSchemaMetadataControllerShow200Response,
    Error<RuslWebRawSchemaMetadataControllerShow0Error>,
> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_account_slug = account_slug;
    let p_path_schema_slug = schema_slug;

    let uri_str = format!(
        "{}/resources/{account_slug}/schemas/{schema_slug}/metadata",
        configuration.base_path,
        account_slug = crate::apis::urlencode(p_path_account_slug),
        schema_slug = crate::apis::urlencode(p_path_schema_slug)
    );
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref token) = configuration.bearer_access_token {
        req_builder = req_builder.bearer_auth(token.to_owned());
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::RuslWebRawSchemaMetadataControllerShow200Response`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::RuslWebRawSchemaMetadataControllerShow200Response`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<RuslWebRawSchemaMetadataControllerShow0Error> =
            serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}
