/*
 * Rusl CLI API
 *
 * API for the Rusl CLI
 *
 * The version of the OpenAPI document: 0.1.0
 *
 * Generated by: https://openapi-generator.tech
 */


use reqwest;
use serde::{Deserialize, Serialize, de::Error as _};
use crate::{apis::ResponseContent, models};
use super::{Error, configuration, ContentType};


/// struct for typed errors of method [`rusl_web_raw_bundle_metadata_controller_show`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum RuslWebRawBundleMetadataControllerShowError {
    Status401(models::Error1),
    Status403(models::Error1),
    Status404(models::Error1),
    Status500(models::Error1),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`rusl_web_raw_bundle_metadata_controller_show_0`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum RuslWebRawBundleMetadataControllerShow0Error {
    Status401(models::Error1),
    Status403(models::Error1),
    Status404(models::Error1),
    Status500(models::Error1),
    UnknownValue(serde_json::Value),
}


/// Returns every resolvable version of a bundle and its dependency constraints in a single payload, enabling the PubGrub resolver to evaluate the full dependency graph without additional network round-trips.  Canonical metadata lives under `/resources/{account_slug}/bundles/{bundle_slug}/metadata`.  Caching behavior (via `RuslWeb.RawCacheHeaders` + `Rusl.Caching`): - Public metadata: cacheable with a configurable TTL (`Rusl.Caching.metadata_max_age`).   Kept fresh via event-driven CDN purges on version publish or status changes (uses `cache-tag`). - Private metadata: always `private, no-store`. Never cached. - Version suffixes (`@vX.Y.Z`) are ignored for lookup and caching — the response reflects the current resolvable set.  Private data is never cacheable — membership is re-checked on every request.
pub async fn rusl_web_raw_bundle_metadata_controller_show(configuration: &configuration::Configuration, account_slug: &str, bundle_slug: &str) -> Result<models::RuslWebRawBundleMetadataControllerShow200Response, Error<RuslWebRawBundleMetadataControllerShowError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_account_slug = account_slug;
    let p_path_bundle_slug = bundle_slug;

    let uri_str = format!("{}/resources/{account_slug}/bundles/{bundle_slug}/metadata", configuration.base_path, account_slug=crate::apis::urlencode(p_path_account_slug), bundle_slug=crate::apis::urlencode(p_path_bundle_slug));
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref token) = configuration.bearer_access_token {
        req_builder = req_builder.bearer_auth(token.to_owned());
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::RuslWebRawBundleMetadataControllerShow200Response`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::RuslWebRawBundleMetadataControllerShow200Response`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<RuslWebRawBundleMetadataControllerShowError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Returns every resolvable version of a bundle and its dependency constraints in a single payload, enabling the PubGrub resolver to evaluate the full dependency graph without additional network round-trips.  Canonical metadata lives under `/resources/{account_slug}/bundles/{bundle_slug}/metadata`.  Caching behavior (via `RuslWeb.RawCacheHeaders` + `Rusl.Caching`): - Public metadata: cacheable with a configurable TTL (`Rusl.Caching.metadata_max_age`).   Kept fresh via event-driven CDN purges on version publish or status changes (uses `cache-tag`). - Private metadata: always `private, no-store`. Never cached. - Version suffixes (`@vX.Y.Z`) are ignored for lookup and caching — the response reflects the current resolvable set.  Private data is never cacheable — membership is re-checked on every request.
pub async fn rusl_web_raw_bundle_metadata_controller_show_0(configuration: &configuration::Configuration, account_slug: &str, bundle_slug: &str) -> Result<models::RuslWebRawBundleMetadataControllerShow200Response, Error<RuslWebRawBundleMetadataControllerShow0Error>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_account_slug = account_slug;
    let p_path_bundle_slug = bundle_slug;

    let uri_str = format!("{}/resources/{account_slug}/bundles/{bundle_slug}/metadata", configuration.base_path, account_slug=crate::apis::urlencode(p_path_account_slug), bundle_slug=crate::apis::urlencode(p_path_bundle_slug));
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref token) = configuration.bearer_access_token {
        req_builder = req_builder.bearer_auth(token.to_owned());
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::RuslWebRawBundleMetadataControllerShow200Response`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::RuslWebRawBundleMetadataControllerShow200Response`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<RuslWebRawBundleMetadataControllerShow0Error> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}
